/* Réinitialisation des styles par défaut */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", monospace;
  background: url("../static/calenDD3.jpg") center fixed;
  background-size: cover;
  overflow-x: hidden; /* Empêche l'apparition de la barre de défilement horizontale */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 24px;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #979797;
}

.content {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0); /* Fond transparent */
  padding: 20px;
  text-align: center;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-container {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

.marquee span {
  display: inline-block;
  padding-right: 10px;
}

.content {
  margin: 20px;
  text-align: center;
}

.create-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease; /* Ajout de la transition */
}

.create-button:hover {
  transform: scale(1.05); /* Augmentation de la taille lors du survol */
  background-color: #333; /* Couleur de fond frappante */
  color: #fff; /* Couleur du texte */
  cursor: pointer;
}

a {
  color: black; /* Couleur du texte par défaut */
  text-decoration: none;
}

a:hover {
  color: #fff; /* Couleur du texte lors du survol */
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.info-block {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1s ease forwards;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.info-block h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-block p {
  font-size: 16px;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ... A Propos CSS ... */

.about-page {
  text-align: center;
}

.about-page h2 {
  margin-bottom: 20px;
}

.about-page .participant-names {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.about-page .participant-names h3 {
  font-family: Bradley Hand, serif;
  font-size: 24px;
  margin: 0 10px;
}

.about-page .photos-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.about-page .photo {
  width: 150px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 50%;
  margin: 10px;
}

.about-page .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-page .info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.about-page .info-block {
  width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #edecdf;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-page .info-block h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-page .info-block p {
  font-size: 16px;
}


/* ... aide CSS ... */

.aide-content {
  margin: 20px;
  text-align: center;
}

.aide-info-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.aide-info-block {
  flex: 1;
  padding: 20px;
  margin: 20px;
  background: #edecdf;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1s ease forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ... arriere plan pour aide et apropos ... */

.aide-bg {
  background: url("../static/calenDD1.jpg") center fixed;
  background-size: cover;
}

.apropos-bg {
  background: url("../static/calenDD.jpg") center fixed;
  background-size: cover;
}
