.day {
  border: black 1px solid;
  display: flex;
}

.container_day {
  display: flex;
}
.semaine {
  display: flex;
  border: 2px solid black;
  height: 100%;
}

.jour {
  border: 1px solid blue;
  padding: 20px;
  margin: 10px;
  flex: 1;
}

.contenu_jour {
  padding: 20px;
  border: 1px solid red;
  height: 80%;
}

.titre_jour {
  padding: 20px;
  border: 1px solid rgb(63, 227, 45);
}
