/*----------------- LE HEADER /*-----------------*/
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.button-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

.button-container a:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 10px 8px 0;
  border-color: transparent #333 transparent transparent;
}

.button-container a:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #333;
}

.button-container a:hover {
  background-color: #eee;
}

/*----------------- LE CALENDRIER /*-----------------*/

.semaine {
  display: flex;
  /*border: 2px solid black;*/
  height: 100vh;
}

.jour {
  border: 1px solid blue;
  margin: 5px;
  padding: 5px;
  flex: 1;
}

.contenu_jour {
  padding: 2px;
  border: 1px solid red;
  height: 85%;
}

.titre_jour {
  padding: 20px;
  border: 1px solid rgb(63, 227, 45);
}
