/*----------------- LE HEADER /*-----------------*/
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.button-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

.button-container a:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 10px 8px 0;
  border-color: transparent #333 transparent transparent;
  /*color: #${substring(calc(abs(hash('1'))), 0, 6)}; fixer la couleur*/
}

.button-container a:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #333;
  /*color: #${substring(calc(abs(hash('1'))), 0, 6)}; fixer la couleur*/
}

.button-container a:hover {
  background-color: #eee;
}

/*----------------- LE CALENDRIER /*-----------------*/

.semaine {
  display: flex;
  /*border: 2px solid black;*/
  height: 90vh;
}

.jour {
  border: 1px solid blue;
  margin: 5px;

  flex: 1;
}

.contenu_jour {
  padding: 2px;
  border: 1px solid red;
  height: 85%;
}
.contenu_jour ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.contenu_jour li {
  padding: 10px;
  margin-bottom: 5px;
  color: white;
}

.titre_jour {
  padding: 20px;
  border: 1px solid rgb(63, 227, 45);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.newEventForm input[type="text"]:focus {
  outline: none;
}

input[type="hidden"] {
  display: none;
}

.newEventForm button[type="submit"] {
  width: 90%;
  height: 40px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #333;
}

.newEventForm input[type="text"] {
  width: 85%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.eventContent {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  border: none;
  opacity: 80%;
  border-radius: 10px;
  padding: 10px;
  resize: vertical;
  overflow: auto;
  height: 100%;
  min-height: 50px;
  outline: none; /* enlève les petits traits noirs */
  scrollbar-width: thin; /* spécifie la largeur de la scrollbar */
  scrollbar-color: #888888 #ffffff; /* spécifie la couleur de la scrollbar */
}
