<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{{ background_class }}">
    <header>
        <h1><a href="/">calendarpy</a></h1>
        <div class="header_date">
            <h2>{{ current_month }}</h2>
            <h2>{{ current_year }}</h2>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.apropos') }}">A Propos</a></li>
                <li><a href="{{ url_for('routes.aide') }}">Aide</a></li>
            </ul>
          </nav>
    </header>
    <div classe="body2">

    <div class="popupToggle">
        <div class="popupArrow">▼</div>
    </div>

    <div class="afficherDetailsMois">
        <div class="popupCalendar">
            {% for month in months %}
              <a class="monthPopup" href="/calendar/{{ current_year }}-{{ loop.index }}-04/{{ hash }}">
                <div class="month-border">{{ month }}</div>
              </a>
            {% endfor %}
        </div>

    </div>

    <div class="button-container">
        <a href="{{ url_for('routes.previous_week', date=date) }}">Semaine précédente</a>

        <a href="mailto:?subject=Calendrier&amp;body={{ request.url }}">Partager par email</a>

        <a href="{{ url_for('routes.next_week', date=date) }}">Semaine suivante</a>
    </div>
     
        <div class="semaine">
            {% for item in calendar %}

                <div id="jour" class="jour">
                    <div class="titre_jour">{{ item['date'].strftime("%A %d %B").capitalize() }}</div>
                

                    <div class="contenu_jour">
                        <form method="POST" class="newEventForm" action="/add_task/">
                            <textarea type="text" class="submitNewEvent" id="input" name="task" placeholder="Nouveau message"></textarea>
                            <!-- <input type="text" class="inputAddTask" id="input" name="task" required> -->
                            <input type="hidden" name="data-date" value="{{ item['date'] }}">
                            <input type="hidden" name="idCal" value="{{ id }}">
                            <!--<button class="addClasse" type="submit">Ajouter une tâche</button>-->
                        </form>
                        <ul>
                            {% for event in events %}
                           
                                {% if event['event_date'].split()[0] == item['date'].strftime('%Y-%m-%d') %}
                    
                                <form class="editEventForm" method="POST" action="/update_event">
                                    <textarea type="text" class="eventContent" data-id-event="{{ event['id'] }}" name="content" style="background: {{ event['color'] }}">{{ event['txt_content'] }}</textarea>
                                    <input type="hidden" name="event_id" value="{{ event['id'] }}">
                                    <input type="hidden" name="data-date" value="{{ item['date'] }}">
                                    <input type="hidden" name="idCal" value="{{ id }}">
                                    <button type="submit" class="updateButton" style="display:none;">Enregistrer</button>
                                </form>
                              
                           
                            
                                {% endif %}
                            {% endfor %}
                        </ul>

                        
                        
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>    
 
        <footer>
            <div class="marquee-container">
                <div class="marquee">
                    <span>Mentions légales | </span>
                    <span>© 2023 CalendarPy. Tous droits réservés.</span>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            const afficherDetailsMois = document.querySelector('.afficherDetailsMois');
            // Ajout de la classe "hidden" par défaut
            afficherDetailsMois.classList.add('hidden');


            var textareas = document.querySelectorAll('.eventContent, .submitNewEvent');
            
            textareas.forEach(function(textarea) {
                textarea.addEventListener("keydown", function(e) {
                if (e.key === "Enter" && !e.shiftKey) {
                    e.preventDefault();
                    this.form.submit();
                    console.log('Formulaire envoyé');
                }
                });
            });

            autosize();
            
            function autosize() {
                var text = $('.eventContent, .submitNewEvent');

                text.each(function() {
                $(this).attr('rows', 1);
                resize($(this));
                });

                text.on('input', function() {
                resize($(this));
                });

                function resize($text) {
                $text.css('height', 'auto');
                $text.css('height', $text[0].scrollHeight + 'px');
                }
            }

            const popupToggle = document.querySelector('.popupToggle');

            popupToggle.addEventListener('click', () => {
            afficherDetailsMois.classList.toggle('hidden');
            });

        </script>
        
</body>
</html>