<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  
    <div class="button-container">
        <a href="{{ url_for('routes.previous_week', date=calendar[0]['date']) }}">Semaine précédente</a>
        <h1>Calendrier</h1>
        <a href="{{ url_for('routes.next_week', date=calendar[0]['date']) }}">Semaine Suivante </a>
      </div>

      
  
      

    
           
        <div class="semaine">
            {% for item in calendar %}
                <div id="jour" class="jour">
                    <div class="titre_jour">{{ item['day'] }}  {{ item['date'] }}</div>
                    <div class="contenu_jour">
                        <ul>
                            {% for event in events %}
                                {% if event[1].split()[0] == item['date'].strftime('%Y-%m-%d') %}
                                    <li>{{ event[2] }}</li>
        
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <form method="POST" action="/add_task">
                            <input type="text" class="inputAddTask" id="input" name="task" required>
                            <input type="hidden" name="data-date" value="{{ item['date'] }}">
                            <button class="addClasse" type="submit">Ajouter une tâche</button>
                        </form>
                    </div>
                </div>
            {% endfor %} 
        </div>
        
    
        <script>
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                    
                }
                return color;
            }
    
            
        
            var lis = document.getElementsByTagName('li');
            for (var i = 0; i < lis.length; i++) {
                lis[i].style.backgroundColor = getRandomColor();
            }
        </script>
        
</body>
</html>