<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Calendrier</h1>
    <div>
           
        <div class="semaine">
             
            {% for jour in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi"] %}
              <div class="jour">
                <div class="titre_jour">{{ jour }}</div>
                <div class="contenu_jour">
                    <ul>
                        {% for event in events %}
                            <li>{{ event[1] }} - {{ event[2] }}</li>
                        {% endfor %}
                        </ul>
                    
                    <input  type="text" class="inputAddTask">
                </div>
            </div>
            {% endfor %} 
         </div>
    </div>

</body>
</html>