<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <div>
      <h1>Il manque une commande !</h1>
      <ul>
        <li>ETEINDRE LE SERVEUR WEB (Press CTRL+C to quit)</li>
        <li>
          PUIS DANS LE TERMINAL ENTRER DANS LE DOSSIER APP: cat schema.sql |
          sqlite3 database.db
        </li>
        <li>RELANCER LE SERVEUR WEB</li>
      </ul>
    </div>
  </body>
</html>
