<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/createCalendar.css">
  <style>
    /* CSS spécifique à cette page */
    body {
      background-color: #ffd700;
    }

    h1 {
      color: #333;
    }

    ul {
      color: #555;
    }
  </style>
  <title></title>
</head>
<body>
<header>
  <h1><a href="/">calendarpy</a></h1>
  <nav>
    <ul>
      <li><a href="#" class="active">A Propos</a></li>
      <li><a href="#">Aide</a></li>
    </ul>
  </nav>
</header>
<div>
  <h1>Il manque une commande !</h1>
  <ul>
    <li>ETEINDRE LE SERVEUR WEB (Press CTRL+C to quit)</li>
    <li>
      PUIS DANS LE TERMINAL ENTRER DANS LE DOSSIER APP: cat schema.sql |
      sqlite3 database.db
    </li>
    <li>RELANCER LE SERVEUR WEB</li>
  </ul>
</div>
<footer>
  <div class="marquee-container">
    <div class="marquee">
      <span>Mentions légales | </span>
      <span>© 2023 CalendarPy. Tous droits réservés.</span>
    </div>
  </div>
</footer>
<script src="../static/createCalendar.js"></script>
</body>
</html>
